parameters:
  level: 1

  excludePaths:
    - */tests/*

  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    # @see https://www.drupal.org/docs/develop/development-tools/phpstan/handling-unsafe-usage-of-new-static
    - "#^Unsafe usage of new static#"
    # Drupal hook parameters cannot carry PHPDoc @param without violating
    # Drupal.Commenting.HookComment.HookParamDoc, so suppress the array-type warning here.
    - "#^Function trustarc_.+ has parameter .+ with no value type specified in iterable type array#"
